
<div id="chat" class="scrollable"></div>
<div id="chat_input">  
    <%= form_for Message.new, :remote => true do |f| %>  
      <%= f.text_field :content, :size => 50 %> <br> 
      
    <% end %>  
</div>