div.scrollable {
  height: 300px;
  width: 500px;
  overflow: auto;
  border: 8px solid #666;
  background-color: #fff;
  padding: 12px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}

.created_at {
   font-family: Helvetica-Bold, Verdana, Arial;
  font-weight: Bolder;
  font-size: 18;  
}

#chat {
  font-family: Helvetica-Bold, Verdana, Arial;
  font-size: 14;  
}

textarea#message_content
{
    width:100%;
    height: 80px;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 0px;
}

#chat_input {
  width: 500px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  border-bottom: 0px;
}